#header-top {
  padding-top: 30px;

  .logo {
    display: flex;
    align-items: center;
  }

  .reg-res {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

#navbar {
  nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 51px;
    background-color: #0d223f;
  }

a.nav-link {
    font-family: SanFranciscoLight, arial;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
  }
}
