#popular-programs {
  padding: 4em 0;
  background: #eee;

  .popular-title {
    color: #0d223f;
    font-family: SanFranciscoBold, Arial, serif;
    font-weight: 700;
    font-size: 3em;
  }

  .view-all {
    color: #e9284b;
    font-family: SanFranciscoRegular, Arial, serif;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
    outline: none;
    height: 100%;
  }

  .icon-right-arrow {
    display: inline-block;
    width: 24px;
    height: 18px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=)
      50% 50% no-repeat;
    background-size: 100%;
  }

  .popular-title-main {
    padding: 3rem 0;
  }

  .card-title {
    font-family: SanFranciscoBold, Arial, serif;
    font-size: 1.6em;
    font-weight: 700;
    color: #333;
  }
  .type {
    display: block;
    margin-bottom: 6px;
    font-family: SanFranciscoRegular, Arial, serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #8892a0;
  }

  .new-pricing {
    font-family: SanFranciscoRegular, Arial, serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #e9284b;
  }

  .old-pricing {
    text-decoration: line-through;
    font-family: SanFranciscoRegular, Arial, serif;
    font-size: 1.1em;
    font-weight: 700;
    color: #a4abb5;
    margin-left: 5px;
  }

  .card {
    border-radius: 0;
    margin-top: 4em;
    box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
    height: 100%;
  }
  .card-body {
    height: 100%;
  }
  .card-img {
    height: 100%;
    img {
      height: 100%;
    }
  }

  a {
    text-decoration: none;
  }
}
#exams {
  padding: 3em 0;
  background: #fff;
  .exams-title {
    font-family: SanFranciscoBold, Arial, serif;
    font-weight: 700;
    color: #0d223f;
    font-size: 2.7em;
  }

  .view-all {
    font-family: SanFranciscoRegular, Arial, serif;
    font-weight: 700;
    color: #e9284b;
    font-size: 1.1em;
    text-decoration: none;
    outline: none;
  }

  .icon-right-arrow {
    display: inline-block;
    width: 24px;
    height: 18px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=)
      50% 50% no-repeat;
    background-size: 100%;
  }
  .exams-title-main {
    padding: 3rem 0;
  }

  .card-body {
    max-height: 59px !important;
    background-color: #d5d731;
    max-height: 4em;
    flex-direction: row;
  }
  a {
    text-decoration: none;
  }
  span {
    font-family: SanFranciscoRegular, Arial, serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #0d223f;
  }

  .event-title {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1.2em 2em 0 1.34em;
  }
  h5 {
    font-size: 1.5em;
    font-family: SanFranciscoBold, Arial, serif;
    font-weight: 700;
    color: #fff;
  }

  .card {
    border-radius: 0;
    margin-top: 4em;
    position: relative;
    box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
  }
  .card:before {
    display: block;
    position: absolute;
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 0, #0d223f);
    height: 21.1em;
    width: 100%;
    content: "";
  }
}
