#programs {
  a {
    text-decoration: none !important;
  }
  .breadcrumb {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
  .breadcrumb li a {
    color: #e9284b;
    text-decoration: none;
  }
}
#programs-card {
  .popular-title {
    color: #0d223f;
    font-family: SanFranciscoBold, Arial, serif;
    font-weight: 700;
    font-size: 3rem;
  }
  @media screen and (max-width: 768px) {
    .popular-title {
      font-size: 2rem;
    }
  }

  .view-all {
    color: #e9284b;
    font-family: SanFranciscoRegular, Arial, serif;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
    outline: none;
    height: 100%;
  }

  .icon-right-arrow {
    display: inline-block;
    width: 24px;
    height: 18px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=)
      50% 50% no-repeat;
    background-size: 100%;
  }

  .popular-title-main {
    padding: 3rem 0;
  }
  @media screen and (max-width: 768px) {
    .popular-title-main {
      padding: 0rem 0 !important;
    }
  }
}
