#header-top {
  padding-top: 30px;
}
#header-top .logo {
  display: flex;
  align-items: center;
}
#header-top .reg-res {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar nav.navbar {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 51px;
  background-color: #0d223f;
}
#navbar a.nav-link {
  font-family: SanFranciscoLight, arial;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
}

#popular-programs {
  padding: 4em 0;
  background: #eee;
}
#popular-programs .popular-title {
  color: #0d223f;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #popular-programs .popular-title {
    font-size: 2rem;
  }
}
#popular-programs .view-all {
  color: #e9284b;
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
  height: 100%;
}
#popular-programs .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#popular-programs .popular-title-main {
  padding: 3rem 0;
}
@media screen and (max-width: 768px) {
  #popular-programs .popular-title-main {
    padding: 0rem 0 !important;
  }
}

.card-title {
  font-family: SanFranciscoBold, Arial, serif;
  font-size: 1.6em;
  font-weight: 700;
  color: #333;
}

.type {
  display: block;
  margin-bottom: 6px;
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #8892a0;
}

.new-pricing {
  font-family: SanFranciscoRegular, Arial, serif;
  font-size: 1.4em;
  font-weight: 700;
  color: #e9284b;
}

.old-pricing {
  text-decoration: line-through;
  font-family: SanFranciscoRegular, Arial, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #a4abb5;
  margin-left: 5px;
}

.card {
  border-radius: 0;
  margin-top: 4em;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
  height: 100%;
}

.card-img {
  height: 100%;
}
.card-img img {
  height: 100%;
}

a {
  text-decoration: none;
}

#exams {
  padding: 3em 0;
  background: #fff;
}
#exams .exams-title {
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #0d223f;
  font-size: 2.7em;
}
#exams .view-all {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  color: #e9284b;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
}
#exams .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#exams .exams-title-main {
  padding: 3rem 0;
}
@media screen and (max-width: 768px) {
  #exams .exams-title-main {
    padding: 0rem 0 !important;
  }
}
#exams .card-body {
  max-height: 59px !important;
  background-color: #d5d731;
  max-height: 4em;
  flex-direction: row;
}
#exams a {
  text-decoration: none;
}
#exams span {
  font-family: SanFranciscoRegular, Arial, serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #0d223f;
}
#exams .event-title {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.2em 2em 0 1.34em;
}
#exams h5 {
  font-size: 1.5em;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #fff;
}
#exams .card {
  border-radius: 0;
  margin-top: 4em;
  position: relative;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
}
#exams .card:before {
  display: block;
  position: absolute;
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 0, #0d223f);
  height: 21.1em;
  width: 100%;
  content: "";
}

#facts h1 {
  color: #0d223f;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  font-size: 2.7em;
}
#facts .base-pink {
  font-family: SanFranciscoBold, arial, serif;
  font-weight: 700;
  text-align: center;
  font-size: 5.67em;
  color: #e9284b;
}
#facts .base-blue {
  font-family: SanFranciscoBold, arial, serif;
  font-weight: 700;
  text-align: center;
  color: #0d223f;
  font-size: 1.6em;
}

#teachers {
  padding: 4em 0;
  background: #eee;
}
#teachers h1 {
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #0d223f;
  font-size: 2.7em;
}
#teachers .view-all {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  color: #e9284b;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
}
#teachers .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#teachers a {
  text-decoration: none;
}
#teachers .card-title {
  font-family: SanFranciscoBold, Arial, serif;
  font-size: 1.6em;
  font-weight: 700;
  color: #333;
}
#teachers .card-body p {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #8892a0;
}
#teachers .card {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid rgba(255, 252, 252, 0.87);
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
  height: 100%;
  margin-top: 0rem;
}
#teachers .card img {
  display: flex;
  bottom: -5px;
}

#partners {
  background: #ddd;
  padding: 3em 0;
  display: flex;
  align-items: center;
}
#partners .col-12 {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
}
#partners .col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#partners .wrap-992-0 {
  flex-wrap: wrap !important;
}
#partners img {
  max-height: 133px;
}
@media screen and (max-width: 768px) {
  #partners .col-12 a {
    flex: 1 1 30%;
    margin: 5px 1%;
  }
}

#footer-bottom {
  background: #0d223f;
  height: 70px;
  display: flex;
  align-items: center;
}
#footer-bottom a {
  text-decoration: none;
}
#footer-bottom .text-white {
  font-family: SanFranciscoRegular, serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
#footer-bottom .a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #footer-bottom .text-white {
    font-size: 1.06em;
  }
}

#footer-top {
  background: #14325a;
  padding-top: 4.8em;
  padding-bottom: 3em;
  min-height: 315px;
}
#footer-top a {
  text-decoration: none;
}
#footer-top .number-info li img {
  width: 26px;
  margin-right: 7px;
}
#footer-top .number-info li span {
  font-size: 25px;
  color: white;
}
#footer-top .text-uppercase {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}
#footer-top .social li a {
  width: 34px;
  height: 34px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#footer-top .fab {
  font-family: "Font Awesome 5 Brands";
}
#footer-top .fa-facebook-f:before {
  content: "\f39e";
}
#footer-top .social li {
  margin: 1.3em 0.3em;
}
#footer-top .text-white {
  font-size: 1.3rem;
}
#footer-top h5 {
  font-family: SanFranciscoBold, arial, serif;
  font-weight: 700;
  font-size: 23px !important;
}
@media screen and (max-width: 768px) {
  #footer-top .text-white {
    font-size: 1em;
  }
}
#footer-top li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  #header-top,
  #navbar {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #header-mobile {
    display: none;
  }
}
#header-mobile {
  background-color: #0d223f;
}
#header-mobile .offcanvas {
  visibility: visible;
}
#header-mobile .offcanvas-header,
#header-mobile .offcanvas-body {
  background-color: #0d223f;
}
#header-mobile li {
  list-style: none;
}
#header-mobile li a {
  color: white;
  text-decoration: none;
}
#header-mobile .mobile_log {
  width: 30px;
  height: 30px;
}
#header-mobile .offcanvas-start {
  width: 100vh;
}
#header-mobile .offcanvas-header {
  padding: 1rem 0;
}
#header-mobile .btn-about {
  padding: 0;
  background-color: #0d223f;
  border: none;
}
#header-mobile .container {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}
#header-mobile .menu-icon-img {
  background-color: #0d223f;
  border: none;
}

#about-us .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#about-us .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#about-us .tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-color: #e9284b #ddd;
  border-style: solid;
  border-width: 5px 1px;
  padding: 30px 25px;
}
#about-us nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #0d223f;
  border-radius: 0;
}
#about-us section.about nav > div a.nav-item.nav-link.active {
  background: #e9284b;
}
#about-us nav > div a.nav-item.nav-link,
#about-us section.about nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #0d223f;
  border-radius: 0;
}
#about-us nav > div a.nav-item.nav-link.active {
  background: #e9284b;
}
#about-us .card {
  margin-top: 0px;
}

#team a {
  text-decoration: none !important;
}
#team .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#team .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#team .card {
  margin-top: 0px;
}

#vacancies a {
  text-decoration: none !important;
}
#vacancies .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#vacancies .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}

#vacancies-card .popular-title {
  color: #0d223f;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #vacancies-card .popular-title {
    font-size: 2rem;
  }
}
#vacancies-card .view-all {
  color: #e9284b;
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
  height: 100%;
}
#vacancies-card .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#vacancies-card .popular-title-main {
  padding: 3rem 0;
}
@media screen and (max-width: 768px) {
  #vacancies-card .popular-title-main {
    padding: 0rem 0 !important;
  }
}

#news a,
#photo-gallery a,
#video-gallery a {
  text-decoration: none !important;
}
#news .breadcrumb,
#photo-gallery .breadcrumb,
#video-gallery .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#news .breadcrumb li a,
#photo-gallery .breadcrumb li a,
#video-gallery .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#news .card,
#photo-gallery .card,
#video-gallery .card {
  margin-top: 0em !important;
}

#exams a {
  text-decoration: none !important;
}
#exams .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#exams .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#exams .card {
  margin-top: 0em !important;
}

#exams {
  padding: 3em 0;
  background: #fff;
}
#exams .exams-title {
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #0d223f;
  font-size: 2.7em;
}
#exams .view-all {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  color: #e9284b;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
}
#exams .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#exams .exams-title-main {
  padding: 3rem 0;
}
@media screen and (max-width: 768px) {
  #exams .exams-title-main {
    padding: 0rem 0 !important;
  }
}
#exams .card-body {
  max-height: 59px !important;
  background-color: #d5d731;
  max-height: 4em;
  flex-direction: row;
}
#exams a {
  text-decoration: none;
}
#exams span {
  font-family: SanFranciscoRegular, Arial, serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #0d223f;
}
#exams .event-title {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.2em 2em 0 1.34em;
}
#exams h5 {
  font-size: 1.5em;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #fff;
}
#exams .card {
  border-radius: 0;
  margin-top: 4em;
  position: relative;
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
}
#exams .card:before {
  display: block;
  position: absolute;
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 0, #0d223f);
  height: 21.1em;
  width: 100%;
  content: "";
}

#testimonials a {
  text-decoration: none !important;
}
#testimonials .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#testimonials .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#testimonials .card {
  margin-top: 0;
}

#programs a {
  text-decoration: none !important;
}
#programs .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#programs .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}

#programs-card .popular-title {
  color: #0d223f;
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #programs-card .popular-title {
    font-size: 2rem;
  }
}
#programs-card .view-all {
  color: #e9284b;
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
  height: 100%;
}
#programs-card .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#programs-card .popular-title-main {
  padding: 3rem 0;
}
@media screen and (max-width: 768px) {
  #programs-card .popular-title-main {
    padding: 0rem 0 !important;
  }
}

#teachers-page a {
  text-decoration: none !important;
}
#teachers-page .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#teachers-page .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#teachers-page h1 {
  font-family: SanFranciscoBold, Arial, serif;
  font-weight: 700;
  color: #0d223f;
  font-size: 2.7em;
}
#teachers-page .view-all {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 700;
  color: #e9284b;
  font-size: 1.1em;
  text-decoration: none;
  outline: none;
}
#teachers-page .icon-right-arrow {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NiIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDE3MiAxNzIiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6bm9ybWFsIj48cGF0aCBkPSJNMCAxNzJWMGgxNzJ2MTcyeiIvPjxwYXRoIGQ9Ik0xMzAuODQgNDguMTJhMy40ODUgMy40ODUgMCAwMC0zLjIzOCAyLjA4MyAzLjQ0NyAzLjQ0NyAwIDAwLjcxMyAzLjc3NWwyNy40NCAyOC41ODJINi45NmEzLjQyMyAzLjQyMyAwIDAwLTMuMDEgMS43MDcgMy40MDkgMy40MDkgMCAwMDAgMy40NjYgMy40MjMgMy40MjMgMCAwMDMuMDEgMS43MDdoMTQ4Ljc5M2wtMjcuNDQgMjguNTgyYTMuNDQgMy40NCAwIDAwLjEwOCA0Ljg2NCAzLjQyOCAzLjQyOCAwIDAwNC44NjUtLjEwOEwxNjguNiA4NmwtMzUuMzEzLTM2Ljc3OGEzLjQ1OCAzLjQ1OCAwIDAwLTIuNDQ2LTEuMTAyeiIgZmlsbD0iI2U5Mjg0YiIvPjwvZz48L3N2Zz4=) 50% 50% no-repeat;
  background-size: 100%;
}
#teachers-page a {
  text-decoration: none;
}
#teachers-page .card-title {
  font-family: SanFranciscoBold, Arial, serif;
  font-size: 1.6em;
  font-weight: 700;
  color: #333;
}
#teachers-page .card-body p {
  font-family: SanFranciscoRegular, Arial, serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #8892a0;
}
#teachers-page .card {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid rgba(255, 252, 252, 0.87);
  box-shadow: 1.5px 2.598px 5px rgba(0, 0, 0, 0.24);
  height: 100%;
  margin-top: 0rem;
}
#teachers-page .card img {
  display: flex;
  bottom: -5px;
}

#register-page .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#register-page .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#register-page .site_register_container {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
#register-page .site_register_item {
  background: #14325a;
  margin-bottom: 15px;
  text-align: center;
}
#register-page .site_register_item p {
  margin: 0;
  padding: 10px 30px;
  font-size: 30px;
}
#register-page a {
  text-decoration: none !important;
  color: white;
}

#info a {
  text-decoration: none !important;
}
#info .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#info .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
@media (min-width: 768px) {
  #info .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
#info .card-body {
  -ms-flex: 1 1 auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  height: calc(100% - 247px);
}
#info .card {
  height: auto;
  margin-top: 0px;
}
#info .card-body .card-title {
  margin-top: 20px;
}

#contacts a {
  text-decoration: none !important;
}
#contacts .breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
#contacts .breadcrumb li a {
  color: #e9284b;
  text-decoration: none;
}
#contacts .base-pink {
  color: #e9284b !important;
}
#contacts a {
  text-decoration: none;
  color: #0d223f;
}
#contacts div.left-row {
  border-bottom: 1px solid #0d223f;
}
#contacts .contact {
  color: rgba(12, 21, 25, 0.56);
  font-size: 16px;
}

#other-courses {
  padding: 4em 0;
  background: #eee;
}